.project-container {
  box-shadow: rgb(0, 0, 0) -3px 3px 2px 0px;
  /* align-items: center; */
  /* height: 80%; */
  /* width: 80%; */
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0% 0% 1rem 1rem;
  border: solid rgb(255, 255, 255) 2px;
}

.project-images {
  height: 100%;
  width: 100%;
}

.links-container {
  text-align: center;
  box-shadow: rgb(0, 0, 0) -3px 3px 2px 0px;
  background-color: rgb(255, 255, 255);
  border-left: rgb(190, 190, 190) solid 4px;
  border-bottom: rgb(170, 170, 170) solid 2px;
  border-radius: 0% 0% 1rem 1rem;
  margin-bottom: 5px;
}

a {
  font-size: medium;
  font-family: "Open Sans", sans-serif;
  color: black;
  text-decoration: underline;
}
