.hide {
  display: none;
}

.notification-box {
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.notification-message {
  text-align: left;
  font-size: large;
  font-family: monospace;
  box-shadow: rgb(0, 0, 0) -3px 3px 2px 0px;
  background-color: rgb(211, 211, 211);
  border-left: rgb(190, 190, 190) solid 4px;
  border-bottom: rgb(170, 170, 170) solid 2px;
}

.notification-btn {
  text-align: left;
  font-size: large;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgb(0, 0, 0) -3px 3px 2px 0px;
  background-color: rgb(211, 211, 211);
  border-left: rgb(190, 190, 190) solid 4px;
  border-bottom: rgb(170, 170, 170) solid 2px;
  border-top: none;
  border-right: none;
}
