.title {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: medium;
  font-family: "Alata", sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: rgb(0, 0, 0) -3px 3px 2px 0px;
  background-color: rgb(57, 166, 255);
  border-left: rgb(46, 127, 173) solid 4px;
  border-bottom: rgb(40, 110, 150) solid 2px;
  border-radius: 1rem;
}
