html, body{
  background-image: url();
}

.project-title {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: large;
  font-family: monospace;
}

.big-stuff-container {
  background-color: rgba(81, 156, 241, 0.5);
  border-left: rgb(72, 136, 209) solid 2px;
  border-bottom: rgb(59, 110, 168) solid 4px;
  box-shadow: rgb(59, 59, 59) -3px 3px 2px 0px;
  padding: 15px;
  backdrop-filter: blur(15px);
}
