.nav-container {
  height: 45px;
  border-bottom: 2px solid rgb(165, 165, 165);
}

.nav-links {
  background-color: rgb(255, 255, 255);
  border-left: rgb(190, 190, 190) solid 4px;
  border-bottom: rgb(170, 170, 170) solid 2px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  margin-left: 10px;
  
}

.active {
  background-color: rgb(124, 224, 255);
  border-left: rgb(47, 196, 255) solid 4px;
  border-bottom: rgb(47, 196, 255) solid 2px;
}

.logo {
  float: right;
  width: 43px;
}
