.nav-container {
  height: 45px;
  background-color: rgba(53, 53, 53, 0.5);
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  /* padding-bottom: 5px; */
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(15px);
  margin-bottom: 5px;
}

.nav-links {
  box-shadow: rgb(0, 0, 0) -3px 3px 2px 0px;
  background-color: rgb(211, 211, 211);
  border-left: rgb(190, 190, 190) solid 4px;
  border-bottom: rgb(170, 170, 170) solid 2px;
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: large;
  margin-left: 10px;
}

.active {
  background-color: rgb(255, 196, 0);
  border-left: rgb(223, 171, 0) solid 4px;
  border-bottom: rgb(199, 152, 0) solid 2px;
}
