.nav-container {
  height: 45px;
  /* background-color: rgb(0, 0, 0); */
  border-bottom: 2px solid rgb(165, 165, 165);
}

.nav-links {
  /* box-shadow: rgb(0, 0, 0) -3px 3px 2px 0px; */
  background-color: rgb(255, 255, 255);
  border-left: rgb(190, 190, 190) solid 4px;
  border-bottom: rgb(170, 170, 170) solid 2px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  margin-left: 10px;
  margin-top: 10px;
}

.active {
  background-color: rgb(255, 196, 0);
  border-left: rgb(223, 171, 0) solid 4px;
  border-bottom: rgb(199, 152, 0) solid 2px;
}

.logo{
  display: block;
  float: right;
  margin-left: auto;
  margin-right: auto;
  width: 43px;
}